<footer class="footer section-padding rajdhani text-upper">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <!-- LOGO -->
            {% if site.logo %}
            <div class="medium-3 cell text-center">
                <a href="{{ site.link }}">
                    <img src="{{ site.logo | absolute_url }}" alt="Kilbourn Fire Dept. Logo">
                </a>
            </div>
            {% endif %}

            <!-- Footer Menu -->
            <div class="medium-3 cell footer-nav">
                {% include navigation/nav-main.html menu=site.menus.header %}
            </div>

            {% comment %} ADDRESS {% endcomment %}
            <div class="medium-3 cell text-left">
                <!-- PHONE NUMBER -->
                {% if site.data.contact.phone != '' %}
                <div class="contact-info">
                    <a class="text-white" href="tel:{{ site.data.contact.phone | replace: '-', '' }}">{{ site.data.contact.phone }}</a>
                </div>
                {% endif %} {% if site.data.contact.Address.street != '' or site.data.contact.Address.city != '' or site.data.contact.Address.state
                != '' or site.data.contact.Address.state != '' or site.data.contact.Address.zip != ''%}
                <div class="contact-info">
                    <a class="text-white" href="http://maps.google.com/?q=Field's+Park+Motel+{{ (site.data.contact.Address.street ~ ' ' ~ site.data.contact.Address.city ~ ' ' ~ site.data.contact.Address.state ~ ' ' ~ site.data.contact.Address.zip) | url_encode }}"
                        target="_blank">
                        {{ site.data.contact.Address.street }}
                        <br>{{ site.data.contact.Address.city }}, {{ site.data.contact.Address.state }} {{ site.data.contact.Address.zip
                        }}
                    </a>
                </div>
                {% endif %}
            </div>

            <div class="medium-3 cell footer-social">
                <div class="text-center">
                    Connect With Us
                </div>
                <div>
                    <!-- SOCIAL MEDIA Links -->
                    {% include partials/social-media.html %}
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>

{% comment %} BOTTOM FOOTER {% endcomment %}
<div class="post-footer">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-6 cell text-center medium-text-left">
                &copy; {{site.title}} {{ 'now'| date: '%Y' }}
            </div>
            <div class="medium-6 cell text-center medium-text-right">
                Designed and Developed by
                <a href="http://www.ad-lit.com">Ad-Lit, Inc.</a>
            </div>
        </div>
    </div>
</div>