.companies-wrapper{
    svg{
        width:220px;
        height: 250px;
        fill: $white;
    }
}

.prevention-featured{
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid $white;
}


.iso-raiting-wrapper {
    background: $dark-gray url('../../img/iso-bg.jpg');
}