.footer {
    font-size: 1.2rem;
    
    a {
        color: $white;


        &:hover {
            color: $primary-color;
        }
    }
}

.footer-nav{
    ul > li {
        ::before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-left: 5px solid $white;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        }
        
        a {
            display: inline;
        }
    }
}

.footer-social{
    text-align: center;
    
    li {
        display: inline-block;
    }

    .icon{
        margin-top: 0.75rem;
        font-size: 1.4rem;
    }
}