.header{
    background: $black;
    @include rajdhani;
    font-size: 25px;
}

.header-logo{
    position: relative;

    img{
        padding: 0.4rem;
    }
}

.header-navigation{
    margin-top: auto;
    margin-bottom: auto;
}

.header a{
    color: $white;
    
    &:hover{
        color: $primary-color;
    }
    
    &.text-primary {
        color: $primary-color;

        &:hover {
            &.text-primary{
                color: $white;
            }
        }
    }
}

.prenav {
    // Additional .9375rem for foundation gutter on links below
    padding-right: 1.9375rem;
}