// ---------------------------------------
//  General helper classes
// ---------------------------------------
body {
  @include opensans;
}

.subtitle {
  @include opensans;
  font-style: italic;
  font-weight: 400;
}

a {
  transition: color .2s ease;
}

.text-upper {
  text-transform: uppercase;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-white {
  color: $white;
}

.background-dark-gray {
    background-color: $dark-gray;
}

.background-medium-gray {
  background-color: $medium-gray;
}

.opensans{
  @include opensans;
}

.rajdhani{
  @include rajdhani;
}