---
layout: default
---
<article>
    <section class="section-padding background-dark-gray">
        <div class="grid-container">
            <h1 class="text-upper rajdhani">{{ page.title }}</h1>
            <h2 class="h3 subtitle text-upper text-primary"><i>{{ page.subtitle }}</i></h2>
            <div>
                {{ content }}
            </div>
            {% assign events = site.events | sort: 'start-date' %}
            {% for post in events %}
                {% include preview.html %}
            {% endfor %}
        </div>
    </section>
</article>
