--- 
layout: default 
---
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    <!-- MAIN CONTENT -->
    <section class="background-dark-gray section-padding">
        <div class="grid-container">
            <h1 class="text-upper rajdhani">{{ page.title }}</h1>
            <h2 class="h3 subtitle text-upper text-primary"><i>{{ page.subtitle }}</i></h2>
            <div>
                {{ content }}
            </div>
        </div>
    </section>
    <!-- COMPANY DIVISONS -->
    <section class="companies-wrapper section-padding">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                {% for i in site.data.officers.companies %}
                <div class="medium-4 cell text-center">
                    <div class="company-icon">
                        <img src="{% image 218x0 {{ i[1].icon }} %}" class="lazyload" alt=""> 
                    </div>
                    <div class="company-content">
                        <h3 class="rajdhani text-upper text-primary">{{ i[1].title }}</h3>
                        <div class="subtitle text-upper h5"><i>{{ i[1].expertise }}</i></div>
                        <p>{{ i[1].description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ISO RATING -->
    <section class="section-padding iso-raiting-wrapper lazyload">
        <div class="grid-container">
            <h2 class="text-upper rajdhani">{{ page.isoraiting.title }}</h2>
            <h3 class="text-upper text-primary subtitle">{{ page.isoraiting.subtitle }}</h3>
            <p>{{ page.isoraiting.content }}</p>
        </div>
    </section>
    <!-- PREVENTION ARTICLES -->
    <section class="background-dark-gray section-padding">
        <div class="grid-container">
            {% assign preventions = site.prevention | sort: "featured" %}
            {% for post in preventions %}
                {% include preview.html %}
            {% endfor %}
            <div class="text-center">
                <div class="button hollow large text-upper rajdhani white thick"><b><a href="{{ '/prevention/' | relative_url }}">View More</a></b></div>
            </div>
        </div>
    </section>
</article>